.group
  .group__header
    .group__header__detail
      .group__header__detail__info
        .group__header__detail__info__name
          group_name
        .group__header__detail__info__member
          Member:
      .group__header__edit
        Edit
  .group__chat
    .group__chat__contents
      .group__chat__contents__info
        .group__chat__contents__info__who
          shoya
        .group__chat__contents__info__date
          2019/10/08 19:14:39
      .group__chat__contents__message
        hoissu
    .group__chat__post
      .group__chat__post__form
        %input{type: "text", placeholder: "type a message", class: "input-box group__chat__post__form__box"}
        %label{class: "input-box__image group__chat__post__form__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file group__chat__post__form__file"}
        %input{type: "submit", value: "Send", class: "group__chat__post__form__btn"}