.group__contents
  - @messages.each do |message|
    .group__contents__info
      .group__contents__info__who
        = message.user_id
      .group__contents__info__date
        = message.created_at
    .group__contents__message
      = message.body