.wrapper
  .wrapper__side_bar
    .wrapper__side_bar__user
      .wrapper__side_bar__user__name
        = current_user.name
      .wrapper__side_bar__user___btn
        =link_to "#", class: "wrapper__side_bar__user__btn" do
          =icon('fas', 'edit')
          %span<>
        =link_to edit_user_path(current_user), class: "wrapper__side_bar__user__btn" do
          =icon('fas', 'cog')
          %span<>
    .wrapper__side_bar__groups
      .wrapper__side_bar__groups__view
        .wrapper__side_bar__groups__view__name
          sample1
        .wrapper__side_bar__groups__view__message
          good bey world!!
      .wrapper__side_bar__groups__view
        .wrapper__side_bar__groups__view__name
          sample2
        .wrapper__side_bar__groups__view__message
          good bey world!!
