.wrapper{
  display: flex;
  height: 100vh;
  &__side_bar{
    color: $sideTextColor;
    width: 300px;
    &__user{
      background-color: #253141;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      height: 100px;
      line-height: 100px;
      &__btn{
        color: $sideTextColor;
        margin: 0 2px;
      }
    }
    &__groups{
      padding: 20px;
      background-color: #2f3e51;
      font-weight: bold;
      height: calc(100vh - 140px);
      &__view{
        padding-bottom: 40px;
        &__name{
          font-size: 15px;
        }
        &__message{
          font-size: 11px;
        }
      }
    }
  }
}